@import url(./reset.css);
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;700&display=swap');

:root {
  --mainBackground: #F5F5F5;
  --blueBackground: #EAF2FD;
  --mainColor: #464646;
}

body {
  display: grid;

  grid-template-columns: 10.5% 79% 10.5%;
  background-color: var(--mainBackground);
  font-family: 'Raleway', sans-serif;
  line-height: 1.188rem;
  color: var(--mainColor);
  
} 

.subtitulo {
  font-size: 2rem;
  font-weight: 700;
  line-height: 2.375rem;
}

.c-nav {
  grid-column: 2 / 3;
  display: flex;
  justify-content: space-between;
  margin: 2.156rem 0 4.156rem 0;
}

.c-nav__icone {
  display: flex;
  width: 7.375rem;
  justify-content: space-between;
  align-items: center;
  font-weight: 700;
  font-size: 1rem; 
  line-height: 1.174rem;
}

.c-nav__navegacao {
  display: flex;
}

.c-nav__lista {
  padding-left: 2rem;
  font-weight: 500;
}

.c-nav__lista:last-child {
  font-weight: 700;
}

.c-header {
  grid-column: 2 / 3;
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.c-header__info {
  
}

.c-header__titulo {
  font-weight: 700;
  font-size: 3.25rem;
  line-height: 3.816rem;
  padding: 3.813rem 1.063rem 1.5rem 0;

}

.c-header__paragrafo {
  font-size: 1.375rem;
  line-height: 1.614rem;
  margin-bottom: 1.5rem;
  padding-right: 1.063rem;
}

.c-header__social {
  display: flex;
}

.c-header__item {
  padding-right: 2rem;
  line-height: 1.188rem;
  font-weight: 500;
}

.c-header__avatar {
  height: 23rem;
  width: 23rem;
  border-radius: 50%;
}

.c-sobre {
  background: var(--blueBackground);
  grid-column: 1 / 4;
  display: grid;
  grid-template-columns: 10.5% 79% 10.5%;
  padding: 4rem 0;
}

.c-sobre__item {
  grid-column: 2 / 3;
  width: 46.938rem;
  padding-top: 1rem;
}

